<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                             http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <servlet>
        <servlet-name>AddDelivery</servlet-name>
        <servlet-class>delivery.InsertDeliveryServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddDelivery</servlet-name>
        <url-pattern>/AddDelivery</url-pattern>
    </servlet-mapping>
    
    
    
    
    <servlet>
        <servlet-name>ViewDelivery</servlet-name>
        <servlet-class>delivery.GetAllDeliveriesServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ViewDelivery</servlet-name>
        <url-pattern>/ViewDelivery</url-pattern>
    </servlet-mapping>
    
    
    
    
    <servlet>
        <servlet-name>UpdateDelivery</servlet-name>
        <servlet-class>delivery.UpdateDelivery</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UpdateDelivery</servlet-name>
        <url-pattern>/updatedelivery</url-pattern>
    </servlet-mapping>
    
    
    
    
     <servlet>
        <servlet-name>DeleteDelivery</servlet-name>
        <servlet-class>delivery.DeleteDeliveryServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeleteDelivery</servlet-name>
        <url-pattern>/DeleteDelivery</url-pattern>
    </servlet-mapping>

</web-app>
